@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Leanne Holmes A01250217</h1>
    <p>After graduating I want to get a job in Data Science as an analyst</p>
</div>
